.DS_Store
__trash
_old_*

.nyc_output
coverage
node_modules
private_repo

.env.js
_prod-*
server/_kadmin/admin/dbi/_avatars/_clip_art_animals
server/ssl/*.pem
db/**/*
!db/db.sqlite
!db/testdb.sqlite
!db/README.md

rmdstore.sh
z_*
