*
!.eslintrc
!.travis.yml
!demo.env.js
!.env.travis.js

!bin/**/*
!db/README.md
!examples/**/*
!public/**/*

!server/_custom/**/*
!server/api/**/*
!server/controllers/**/*
!server/core/**/*
!server/dbi/**/*
!server/libs/**/*
!server/middlewares/**/*
!server/ssl/README.md
!server/*.js

!tasks/**/*
!test/**/*
